  a.nostyle {
      color: inherit;
      text-decoration: none;
      padding: 0;
      margin: 0;
  }

  div.portfoliocard {
      position: relative;
      height: 450px;
      width: 500px;
      overflow: hidden;
      z-index: 100;
  }

  div.portfoliocard div.coverphoto {
      width: 100%;
      height: 120px;
      background: url('../media/1.jpg');
      background-position: center center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      z-index: 99;
  }

  div.portfoliocard div.left_col, div.portfoliocard div.right_col {
      float: left;
      height: 340px;
  }

  div.portfoliocard div.left_col {
      width: 30%;
      background: rgb(255, 255, 255);
      padding-top: 85px;
      box-sizing: border-box;
  }

  div.portfoliocard div.right_col {
      width: 70%;
      background: rgba(0, 0, 0, 0.479);
      margin-left: -1px;
  }

  div.portfoliocard div.profile_picture {
      width: 110px;
      height: 110px;
      background: rgba(0, 0, 0, 0.37);
      position: absolute;
      top: 65px;
      left: 40px;
      border-radius: 100%;
      /* background-image: url('../media/3.jpg'); */
      background-size: 100% 100%;
      padding: 7px;
      border: 4px solid rgba(255, 255, 255, 1)
  }

  div.portfoliocard div.right_col h2.name {
      font-size: 30px;
      font-weight: 300;
      color: rgb(255, 255, 255);
      padding: 0;
      margin: 20px 10px 0px 30px;
  }

  div.portfoliocard div.right_col h3.location {
      font-size: 15px;
      font-weight: 300;
      color: rgb(255, 255, 255);
      padding: 0;
      margin: -5px 10px 10px 30px;
  }

  div.portfoliocard ul.contact_information {
      margin-top: 20px;
      padding-left: 30px;
      list-style-type: none;
  }

  div.portfoliocard ul.contact_information li {
      height: 25px;
      width: 230px;
      line-height: 25px;
      font-weight: 300;
      font-size: 15px;
      color: rgb(255, 255, 255);
      padding: 5px 0px;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: default;
  }

  div.portfoliocard ul.contact_information li:before {
      content: "";
      width: 25px;
      height: 25px;
      display: block;
      float: left;
      background-position: center;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      margin-right: 5px;
      opacity: 0.7;
  }

  div.portfoliocard ul.information {
      margin-top: 20px;
      padding-left: 30px;
      list-style-type: none;
  }

  div.portfoliocard ul.information li {
      height: 25px;
      width: 20px;
      line-height: 25px;
      font-weight: 300;
      font-size: 15px;
      color: rgb(255, 255, 255);
      padding: 5px 0px;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: default;
  }

  div.portfoliocard div.tomboledit, div.portfoliocard div.tombollogout {
      margin: 15px 0px 0px 2px;
      font-weight: 300;
      font-size: 16px;
      color: rgba(30, 30, 30, 1);
  }
  div.portfoliocard div.tomboldeleteacc{
    margin: 15px 0px 0px 2px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(30, 30, 30, 1);
  }
  div.portfoliocard div.tombol {
      font-weight: 400;
      font-size: 20px;
      color: rgb(0, 0, 0);
      transition: .5s;
  }

  div.portfoliocard div.tombol:hover {
      color: #fff;
      background: #f00;
  }